body {
  font-family: 'Crimson Text', serif;
} /* body was empty but the entire page was 'Crimson Text' */

a:link {color:#3A3A3C;}      /* unvisited link */
a:visited {color:#3A3A3C;}  /* visited link */
a:hover {color:#3A3A3C;}  /* mouse over link */
a:active {color:#3A3A3C;}  /* selected link */

#wrapper {
  max-width: 860px;
  margin: 100px auto 0;
}

img {
  display: block;
  margin: 0px auto;
  border-style: none; /* For IE and Chrome */
}

p {
  color: #3A3A3C;
}

h1 {
  color: #3A3A3C;
}

header { /*Changed nav to header*/
  text-shadow: 8px 8px 12px #AAAAAA;
  text-align: center;
  /*float: left;*/
  /*width: 340px;*/
  padding-top: 40px;
}

header h1 {
  margin: 0px;
  font-size: 200%;
}

header nav {
  margin: 0px;
}

#main {
  /*float: left;*/
  /*width: 520px;*/
}

.shift {
  margin: 0px 10px -25px 0px;
}

h2.statement {
  font-size: 110%;
  font-weight: bold;
  text-shadow: 8px 8px 12px #AAAAAA;
  margin: 0;
}

.info {
  padding-bottom: 20px;
  margin: 0;
}

.assoc a {
  font-weight: bold;
}

footer {
  text-shadow: 8px 8px 12px #AAAAAA;
  text-align: center;
  font-size: 75%;
}

/*.fine was unnecessary*/

li {
  color: #3A3A3C;
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  font-size: 100%;
}

#address_c1 {
  width: 25%;
  float: left;
  text-align: left;
  /*padding: 25px 0px 10px 10px;*/
}

#address_c2 {
  width: 25%;
  float: left;
  text-align: center;
  /*padding: 25px 10px 10px 10px;*/
}

#address_c3 {
  width: 50%;
  float: left;
  text-align: right;
  /*padding: 25px 10px 10px 0px;*/
}

.building { /*class on image instead of wrapper*/
  /*float: left;*/
  max-width: 100%;
  height: auto;
}

@media (max-width:860px) {
  #wrapper {
    max-width: 766px;
    margin: 70px auto 0;
  }
  header h1 {
    font-size: 170%;
  }
}

@media (max-width:767px) {
  #wrapper {
    max-width: 520px;
    margin: 10px auto 0;
    padding-top: 0;
  }
  header {
    padding-top: 0px;
    padding-bottom: 15px;
  }
  header img {
    width: 70px;
    height: auto;
    margin: 0;
    float: left;
  }
  header h1 {
    font-size: 130%;
  }
  #address_c1, #address_c2, #address_c3 {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
}